<!--admin.ejs-->
<table class="table table-striped">
    <!-- <tbody> -->
    <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Organizer</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% eventss.forEach( function(model) { %>
    <tr>
        <td>
            <%= model.id %>
        </td>
        <td>
            <a href="/Event/detail/<%=model.id %>" class="card-link">
                <%= model.name %></a>
        </td>
        <td>
            <%= model.organizer %></a>
        </td>
        <td>
            <a class="btn btn-warning" href="/Event/update/<%=model.id %>" role="button">Update</a>
        </td>
        <td>
            <a class="btn btn-danger" href="/Event/update/<%=model.id %>" role="button">Delete</a>
        </td>
        <td>
            <a class="btn btn-info" href="/Event/detail/<%=model.id %>" role="button">Registration</a>
        </td>



    </tr>
    <% }); %>
    <!-- </tbody> -->
</table>