<!-- deatail.ejs -->

<body>

    <div class="row">
        <div class="card col-sm-12 col-lg-12 col-xl-12">
            <div class="card-body">
                <h4>
                    <%= event.name %>
                </h4>
                <div class="media">
                    <img class="mr-3" src="<%= event.imgURL %>" style="max-width: 15rem">
                    <div class="media-body">
                        <ul class="card list-group list-group-flush">
                            <li class="list-group-item">
                                <%= event.fullDes %>
                            </li>
                            <li class="list-group-item"><b>Organizer: </b>
                                <%= event.organizer %>
                            </li>
                            <li class="list-group-item"><b>Date: </b>
                                <%= event.eventDate.getDate() %>/
                                <%= event.eventDate.getMonth() + 1 %>/
                                <%= event.eventDate.getFullYear() %>
                            </li>
                            <li class="list-group-item"><b>Time: </b>
                                <%= event.time %>
                            </li>
                            <li class="list-group-item"><b>Venue: </b>
                                <%= event.venue %>
                            </li>
                            <li class="list-group-item"><b>Quota: </b>
                                <%= event.quote %>
                            </li>
                            <!-- 根据传进来的数据，判断显示的内容,当 isregister 等于0，该用户没有注册该项目，当等于1，该用户注册该项目-->
                            <% if(isregister  == 0 & (session.username  == "sUser01" || session.username  == "sUser02")) {%>
                            <form action="/person/addEvent/<%= event.id %>" method="POST">
                                <button id="butt_register" type="submit" class="btn btn-primary">Register</button>
                            </form>
                            <%} else if(isregister  == 1 & (session.username  == "sUser01" || session.username  == "sUser02")) {%>
                            <form action="/person/deleteEvent/<%= event.id %>" method="POST">
                                <button id="butt_delete" type="submit" class="btn btn-primary">Delete</button>
                            </form>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--admin.ejs-->
    <% if(session.username  == "aUser01" || session.username  == "aUser02") {%>
    <table id="tab_register" class="table table-striped">
        <tr>
            <th>Register List</th>
        </tr>
        <% register.forEach( function(model) { %>
        <tr>
            <td>
                <%= model.personname %>
            </td>
        </tr>
        <% }); %>
    </table>
    <%} 
    %>

</body>

<script>


</Script>