<!--search.ejs-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="http://localhost:1337">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/Event/search">Search</a>
            <a class="nav-item nav-link " href="/Event/create">Create</a>
            <a class="nav-item nav-link " href="/Event/admin">Admin</a>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Event Management System</h1>
        <p class="lead">HKBU Event Management System is a web-based system for department and student
            societies to boardcast events and activities as well as registration.
        </p>
    </div>
</div>


<!-- 日期范围问题  显示请选择一个的问题-->
<% const current = parseInt(req.query.page) || 1; %>
<<<<<<< HEAD
<!-- <%= current %> -->
=======

>>>>>>> parent of 90fee0f... 01
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/event/searchResult/?page=<%= Math.max(current-1, 1) %>">Previous</a>
            <!-- <%= Math.max(current-1, 1) %> -->
        </li>

        <% for (i = 1; i <= count; i++) { %>
        <li class="page-item">
<<<<<<< HEAD
            <a class="page-link" href="/event/searchResult/?page=<%= i %>">
                <%= i %></a></li>
=======
            <a class="page-link" href="/event/search/?page=<%= i %>">
                <%= i %></a>
        </li>
>>>>>>> parent of 90fee0f... 01
        <% } %>

        <li class="page-item">
            <a class="page-link" href="/event/searchResult/?page=<%= Math.min(current+1, count) %>">Next</a>
            <!-- <%= Math.min(current+1, count) %> -->
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
        <div class="row">
            <% events.forEach( function(model) { %>
<<<<<<< HEAD
            <div class="card col-12 col-sm-12 col-lg-6 col-xl-6">
=======

            <div class="card col-sm-6 col-lg-6 col-xl-6">
>>>>>>> parent of 90fee0f... 01
                <img class="img-fluid img-thumbnail" src=<%=model.imgURL %> />
                <a href="/Event/detail/<%=model.id %>" class="card-link">
                    <%= model.name %></a>

                <%= model.shortDes %>
            </div>
            <% }); %>
        </div>

    </div>

<<<<<<< HEAD
    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <form action="/Event/search" method="GET">
            <label>Event name</label>
            <input type="text" , class="form-control" name="name">
            <br>
=======
    <div class="col-sm-4 col-lg-4 col-xl-4">
        <lable>Event name</lable>
        <input type="text" , class="form-control" name="Event[name]" required>
        <br>
>>>>>>> parent of 90fee0f... 01

        <div>
            <lable>Organizer</lable>
            <div>
<<<<<<< HEAD
                <label>Organizer</label>
                <div>
                    <!-- <select class="selectpicker show-tick form-control" data-width="250px" data-live-search="true" name="Event[organizer]"> -->
                    <select class="selectpicker form-control" data-width="250px" data-live-search="true" name="organizer">
                        <!-- <select class="selectpicker" name="Event[organizer]"> -->
                        <option></option>
                        <option>ABC</option>
                        <option>ACB</option>
                    </select>
                </div>
                <br>
=======
                <!-- <select class="selectpicker show-tick form-control" data-width="250px" data-live-search="true" name="Event[organizer]"> -->
                <select class="selectpicker form-control" data-width="250px" data-live-search="true" name="Event[organizer]">
                    <!-- <select class="selectpicker" name="Event[organizer]"> -->
                    <option>Select orginaizer here:</option>
                    <option value="abc">ABC</option>
                    <option value="acb">ACB</option>
                </select>
>>>>>>> parent of 90fee0f... 01
            </div>
            <br>
        </div>

<<<<<<< HEAD
            <label>Start Date</label>
            <div><input type="text" class="datepicker selectpicker show-tick form-control" name="startDate" /></div><br>

            <label>End Date</label>
            <div><input type="text" class="datepicker selectpicker show-tick form-control" name="endDate" /></div><br>
=======
        <lable>Start Date</lable>
        <div><input type="text" class="datepicker selectpicker show-tick form-control" name="Event[eventDate]" /></div><br>

        <lable>End Date</lable>
        <div><input type="text" class="datepicker selectpicker show-tick form-control" name="Event[eventDate]" /></div><br>
>>>>>>> parent of 90fee0f... 01

        <div>
            <lable>Venue</lable>
            <div>
<<<<<<< HEAD
                <label>Venue</label>
                <div>
                    <select class="selectpicker form-control" data-width="250px" data-live-search="true" name="venue">
                        <option></option>
                        <option>Kowloon</option>
                        <option>N.T</option>
                        <option>Hong Kong Island</option>
                    </select>
                </div>
                <br>
=======
                <select class="selectpicker form-control" data-width="250px" data-live-search="true" name="Event[venue]">
                    <option>Select venue here:</option>
                    <option value="kl">Kowloon</option>
                    <option value="acb">N.T</option>
                    <option value="acb">Hong Kong Island</option>
                </select>
>>>>>>> parent of 90fee0f... 01
            </div>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</div>