<!--update.ejs-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="http://localhost:1337">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/Event/search">Search</a>
            <a class="nav-item nav-link " href="/Event/create">Create</a>
            <a class="nav-item nav-link active" href="/Event/admin">Admin</a>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Event Management System</h1>
        <p class="lead">HKBU Event Management System is a web-based system for department and student
            societies to boardcast events and activities as well as registration.
        </p>
    </div>
</div>



<form action="/event/update/<%= event.id %>" method="POST">


    <div class="row">
        <div class="col-sm-6 col-lg-6 col-xl-6">
            <label>Event name</label>
            <input type="text" , class="form-control" name="Event[name]" value="<%= event.name %>" required>
            <br>
            <label>Short Description</label>
            <textarea rows="7" class="form-control" name="Event[shortDes]" required><%= event.shortDes %></textarea>
            <br>
            <label>Full Description</label>
            <textarea rows="9" class="form-control" name="Event[fullDes]" required><%= event.fullDes %></textarea>

        </div>

        <div class="col-sm-6 col-lg-6 col-xl-6">

            <label>Image URL</label>
            <input type="text" , class="form-control" name="Event[imgURL]" value="<%= event.imgURL %>" required><br>

            <div class="form-group">
                <label for="organizer">Organizer</label>
                <select class="form-control" name="Event[organizer]" id="organizer">
                    <option > ABC</option>
                    <option > ACB</option>
                </select>
            </div>
            <%= event.organizer %>

            <label>Event Date</label>
            <div><input type="date" class="form-control mydate" name="Event[eventDate]" value="<%= event.eventDate %>" /></div><br>


            <label>Time</label>
            <input type="text" , class="form-control" name="Event[time]" value="<%= event.time %>" required><br>

            <div class="form-group">
                <label for="venue">Venue</label>
                <select class="form-control" name="Event[venue]" id="venue">
                    <option >Kowloon</option>
                    <option >N.T</option>
                    <option >Hong Kong Island</option>
                </select>
            </div>

            <label>Quote</label>
            <input type="number" , class="form-control" name="Event[quote]" value="<%= event.quote %>" required><br>

                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="highlighted" name="Event[highlighted]" value="true">
                        <label class="form-check-label" for="highlighted">Highlighted Event</label>
                    </div>

           <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<form method="POST" action="/event/delete/<%= event.id %>">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>


<script>
    window.onload =function() {
        //alert("this window.onload");
        $("#organizer").val("<%= event.organizer %>"); 
        $("#venue").val("<%= event.venue %>");
        if(<%= event.highlighted %>){
            //alert("this window.onload");
            $("#highlighted").attr("checked", true);
        }
        
};
</script>
