<!--update.ejs-->
<form action="/event/update/<%= event.id %>" method="POST">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
            <label>Event name</label>
            <input type="text" , class="form-control" name="Event[name]" value="<%= event.name %>" required>
            <br>
            <label>Short Description</label>
            <textarea rows="7" class="form-control" name="Event[shortDes]" required><%= event.shortDes %></textarea>
            <br>
            <label>Full Description</label>
            <textarea rows="9" class="form-control" name="Event[fullDes]" required><%= event.fullDes %></textarea>

        </div>

        <div class="col-12 col-sm-12 col-lg-6 col-xl-6">

            <label>Image URL</label>
            <input type="text" , class="form-control" name="Event[imgURL]" value="<%= event.imgURL %>" required><br>

            <div class="form-group">
                <label for="organizer">Organizer</label>
                <select class="form-control" name="Event[organizer]" id="organizer">
                    <option> ABC</option>
                    <option> ACB</option>
                </select>
            </div>
            <%= event.organizer %>

            <label>Event Date</label>
            <div><input type="text" class="form-control mydate" name="Event[eventDate]" value="<%= event.eventDate %>" /></div><br>


            <label>Time</label>
            <input type="text" , class="form-control" name="Event[time]" value="<%= event.time %>" required><br>

            <div class="form-group">
                <label for="venue">Venue</label>
                <select class="form-control" name="Event[venue]" id="venue">
                    <option>Kowloon</option>
                    <option>N.T</option>
                    <option>Hong Kong Island</option>
                </select>
            </div>

            <label>Quote</label>
            <input type="number" , class="form-control" name="Event[quote]" value="<%= event.quote %>" required><br>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="highlighted" name="Event[highlighted]" value="true">
                <label class="form-check-label" for="highlighted">Highlighted Event</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<!-- <form method="POST" action="/event/delete/<%= event.id %>">
    <button class="btn btn-danger" type="submit">Delete</button>
</form> -->
<button class="btn btn-danger" type="button" onclick="deleteEvent('<%= event.id %>')">Delete</button>


<script>
    window.onload = function () {
        //alert("this window.onload");
        $("#organizer").val("<%= event.organizer %>");
        $("#venue").val("<%= event.venue %>");
        if ("<%= event.highlighted %>") {
            $("#highlighted").attr("checked", true);
        }
        document.getElementById("nav_create").style.display = 'block';
        document.getElementById("nav_admin").style.display = 'block';

    };

    async function deleteEvent(id) {

        var dr = document.getElementById("deleteResult");

        var r = confirm("Confirm Delete?");
        if (r == true) {

            var response = await fetch("/event/" + id, {
                method: "DELETE",
                credentials: 'same-origin',
            });

            console.log(response);

            if (response.status == 200) {
                var data = await response.json();
                dr.innerHTML = data;
            } else {
                dr.innerHTML = response.statusText;
            }

        } else {
            dr.innerHTML = "cancelled";
        }

    };
</script>